@model SJOne.Models.ManagementViewModels.SportEventSettingsViewModel

@{
    ViewBag.Title = "Настройки события";
}

<div class="row">
    <div class="col-md-3">
        @foreach (var photo in Model.Photos)
        {
            <div>
                <img src="~/Content/Images/@photo.Name" width="200" class="img-thumbnail" />
            </div>
            <br />

        }
    </div>

    <div class="col-md-6">
        <h2>@Html.DisplayFor(model => model.EventName)</h2>
        <hr />

        <h4><span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(model => model.EventDate)</h4>

        @foreach (var tag in Model.Tags)
        {
            <span class="label label-primary"> @tag.Name</span>
        }        

        <div>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>

    <div class="col-md-3">
        <a class="btn btn-primary btn-block" href="@Url.Action("EditEvent", "Management", new { id = Model.Id })">
            <span class="glyphicon glyphicon-edit"></span> Изменить событие
        </a>
        <br />
        <a class="btn btn-success btn-block" href="@Url.Action("CreateRace", "Management", new { id = Model.Id })">
            <span class="glyphicon glyphicon-plus"></span> Соревнование
        </a>

        <a class="btn btn-default btn-block" href="@Url.Action("UploadEventFiles", "Management", new { id = Model.Id })">
            <span class="glyphicon glyphicon-upload"></span> Документы
        </a>
    </div>
</div>




