@model SJOne.Models.ManagementViewModels.SportEventSettingsViewModel

@{
    ViewBag.Title = "Настройки события";
}

<div class="row">
    <div class="col-md-3">
        @foreach (var photo in Model.Photos)
        {
            <div>
                <img src="~/Content/Images/@photo.Name" width="200" class="img-thumbnail" />
            </div>
            <br />

        }
    </div>

    <div class="col-md-6">
        <h1>@Html.DisplayFor(model => model.EventName)</h1>

        <hr />

        <h4><span class="octicon octicon-clock"></span> @Html.DisplayFor(model => model.EventDate)</h4>

        @foreach (var tag in Model.Tags)
        {
            <span class="badge badge-warning">#@tag.Name</span>           
        }

        <div>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>

    <div class="col-md-3">
        <a class="btn btn-primary btn-block" href="@Url.Action("EditEvent", "Management", new { id = Model.Id })">
            Изменить событие
            <span class="octicon octicon-pencil"></span>
        </a>
        <br />
        <a class="btn btn-success btn-block" href="@Url.Action("CreateRace", "Management", new { id = Model.Id })">
            Добавить старт
            <span class="octicon octicon-plus"></span>
        </a>
        <br />
        <a class="btn btn-light btn-block" href="@Url.Action("UploadEventFiles", "Management", new { id = Model.Id })">
            Документы
            <span class="octicon octicon-file-text"></span>
        </a>
    </div>
</div>




