@model SJOne.Models.UserViewModels.ChangePassViewModel

@{
    ViewBag.Title = "Смена пароля";
}

<div class="row">

    <div class="col"></div>

    <div class="card col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-1">
        <div class="card-body">

            <h2 class="card-title text-center">Смена пароля</h2>

            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col">
                    @Html.LabelFor(model => model.NewPassword)
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                </div>

                <div class="form-group col">
                    @Html.LabelFor(model => model.ConfirmNewPassword)
                    <div>
                        @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col mb-2">
                        <a class="btn btn-danger btn-block" href="@Url.Action("Info", "User", new { id = Model.Id })">
                            Отмена
                        </a>
                    </div>

                    <div class="col">
                        <input type="submit" value="Сменить" class="btn btn-warning btn-block" />
                    </div>                    
                </div>
            }
        </div>
    </div>

    <div class="col"></div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}