@model SJOne.Models.UserViewModels.InfoUserViewModel
@using Microsoft.AspNet.Identity
@using SJOne.Extensions

@{
    ViewBag.Title = User.Identity.GetUserName();
}

@if (Model.EmptyProp == true)
{
    <div class="jumbotron col-lg-8 mx-auto bg-warning">
        <h1>Ваша карточка не заполнена</h1>
        <p>Данные нужны для регистрации на спортивные мероприятия и получения дополнительных услуг.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-secondary" href="@Url.Action("Gender", "User", new { id = Model.Id })">
                Заполнить
                <span class="octicon octicon-pencil"></span>
            </a>
        </div>
    </div>
}

else
{
    <div class="row">
        <div class="col-lg-3 mb-2" style="width:200px">

            @if (Model.Avatar != null)
            {
                <a class="uploadView" href="@Url.Action("UploadAvatar", "User", new { id = Model.Id })">
                    @Html.Raw("<img class='img-thumbnail' src=\"data:image/jpeg;base64,"
                + Convert.ToBase64String(Model.Avatar) + "\" />")
                </a>
            }

            else
            {
                <a class="uploadView" href="@Url.Action("UploadAvatar", "User", new { id = Model.Id })"><img src="~/Content/Pic/avatar.png" class="img-thumbnail" /></a>
            }

        </div>

        <div class="col-lg-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.ActionLink(Model.Data, "Data", "User", new { @id = Model.Id }, null)
                    </h4>

                    <hr />

                    <dl>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Model.Gender.DisplayName()
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Locality)
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Locality, "Locality", new { @id = Model.Id }, null)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Club)
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Club, "SportClub", new { @id = Model.Id }, null)
                        </dd>
                    </dl>

                    <hr />

                    @Html.ActionLink("Сменить пароль", "ChangePassword", new { @id = Model.Id }, null)

                </div>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">

                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        @if (Model.Email != null)
                        {

                            <dd>
                                @Html.ActionLink(Model.Email, "Email", new { @id = Model.Id }, null)
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.ActionLink("Введите Email", "Email", new { @id = Model.Id }, null)
                            </dd>
                        }

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        @if (Model.PhoneNumber != null)
                        {
                            <dd>
                                @Html.ActionLink(Model.PhoneNumber, "Phone", new { @id = Model.Id }, null)
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.ActionLink("Введите номер", "Phone", new { @id = Model.Id }, null)
                            </dd>
                        }

                        <dt class="mb-2">
                            Получать рузультаты
                        </dt>

                        <dd>
                            <div class="custom-control custom-switch mb-2">
                                <input type="checkbox" class="custom-control-input" id="switch1" disabled>
                                <label class="custom-control-label" for="switch1">По Email</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="switch2" disabled>
                                <label class="custom-control-label" for="switch2">По СМС</label>
                            </div>
                        </dd>
                    </dl>

                    <button id="delAccount" type="button" class="btn btn-link" data-toggle="modal" data-target="#delAcc">
                        Удалить учётную запись
                    </button>

                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="delAcc">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удалить учётную запись?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <a href="@Url.Action("DeleteEmail", "User", new { id = Model.Id}, null)" class="btn btn-danger col mr-1" role="button">Удалить</a>
                    <button type="button" class="btn btn-success col ml-1" data-dismiss="modal">Отмена </button>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>





    </script>



}


