@model SJOne.Models.UserViewModels.InfoUserViewModel
@using Microsoft.AspNet.Identity
@using SJOne.Extensions

@{
    ViewBag.Title = User.Identity.GetUserName();
}

@if (Model.EmptyProp == true)
{
    <div class="jumbotron col-lg-8 mx-auto bg-warning">
        <h1>Ваша карточка не заполнена</h1>
        <p>Данные нужны для регистрации на спортивные мероприятия и получения дополнительных услуг.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-secondary" href="@Url.Action("Gender", "User", new { id = Model.Id })">
                Заполнить
                <span class="octicon octicon-pencil"></span>
            </a>
        </div>
    </div>
}

else
{
    <div class="row">
        <div class="col-md-3 mb-2" style="width:200px">

            @if (Model.Avatar != null)
            {
                <a class="uploadView" href="@Url.Action("UploadAvatar", "User", new { id = Model.Id })">
                    @Html.Raw("<img class='img-thumbnail' src=\"data:image/jpeg;base64,"
                + Convert.ToBase64String(Model.Avatar) + "\" />")
                </a>
            }

            else
            {
                <a class="uploadView" href="@Url.Action("UploadAvatar", "User", new { id = Model.Id })"><img src="~/Content/Pic/avatar.png" class="img-thumbnail" /></a>
            }
        </div>

        <div class="col-md-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.ActionLink(Model.Data, "Data", "User", new { @id = Model.Id }, null)
                    </h4>

                    <hr />

                    <dl>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Model.Gender.DisplayName()
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Locality)
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Locality, "Locality", new { @id = Model.Id }, null)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Club)
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Club, "SportClub", new { @id = Model.Id }, null)
                        </dd>
                    </dl>

                    <hr />
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">

                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        @if (Model.Email != null)
                        {

                            <dd>
                                @Html.ActionLink(Model.Email, "Email", new { @id = Model.Id }, null)                                
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.ActionLink("Введите Email", "Email", new { @id = Model.Id }, null)
                            </dd>
                        }

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        @if (Model.PhoneNumber != null)
                        {
                            <dd>
                                @Html.ActionLink(Model.PhoneNumber, "Phone", new { @id = Model.Id }, null)                                
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @Html.ActionLink("Введите номер", "Phone", new { @id = Model.Id }, null)
                            </dd>
                        }
                    </dl>

                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>





    </script>



}


