@model SJOne.Models.EditUserViewModel

@{
    ViewBag.Title = "Информация о пользователе (редактирование)";
}

<div class="card col-md-4 mx-auto">
    <div class="card-body">
        <h2 class="card-title text-center">Пользователь</h2>
        <hr />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>EditUserViewModel</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname)
                    <div>
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender)
                    <div>
                        @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DOB)
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="localities" class="form-group">

                    @Html.LabelFor(model => model.LocalityId)
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.LocalityId, Model.Localities, new { @id = "localityList", @class = "selectpicker", @data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.LocalityId, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <button id="newLocality" class="btn btn-secondary" type="button"><span class="octicon octicon-pencil"></span></button>
                        </div>
                    </div>

                </div>

                <div id="newLocalityForm" style="visibility:hidden">
                    <div class="form-group offset-1">
                        <label>Новый населённый пункт</label>
                        <div class="input-group">
                            <input type="text" name="Locality" id="locality" class="form-control" />
                            <div class="input-group-append">
                                <button id="addLocality" class="btn btn-success" type="button" disabled><span class="octicon octicon-plus"></span></button>
                            </div>
                            <div class="input-group-append">
                                <button id="toListLocality" class="btn btn-outline-info" type="button"><span class="octicon octicon-x"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-select")

    <script>

        $(document).ready(function () {

            $(function () {
                $('.selectpicker').selectpicker();
            });

            




        });



    </script>


}
