@using SJOne.Extensions
@using SJOne.Models.Filters
@model IEnumerable<SJOne.Models.User>


@{
    ViewBag.Title = "Администрирование";
}

<h2>Список пользователей</h2>

@Html.Partial("SearchFilter", new UserFilter())

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.SortLink("Логин", "UserName", "Index", "Admin", null)
        </th>
        <th>
            @Html.SortLink("Имя", "Name", "Index", "Admin", null)
        </th>
        <th>
            @Html.SortLink("Email", "Email", "Index", "Admin", null)
        </th>
        <th>
            @Html.SortLink("Дата рождения", "DOB", "Index", "Admin", null)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            @if (item.UserName == "admin")
            {
                <td>Active</td>
                <td>Admin</td>
                <td></td>
            }
            else
            {
                <td>
                    <div id="modDialog" class="modal fade">
                        <div id="dialogContent" class="modal-dialog"></div>
                    </div>
                    @Html.ActionLink(item.Status.ToString(), "Status", "Admin", new { id = item.Id }, new { @class = "userProp" })
                </td>
                <td>

                    @foreach (var role in item.Roles)
                    {
                        <div>@Html.DisplayFor(r => role.Name)</div>
                    }

                </td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog "></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("UserRoles", "Admin", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-edit"></span> Менеджер ролей
                                </a>
                            </li>
                            <li>
                                <a class="userProp" href="@Url.Action("Edit", "Admin", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить данные
                                </a>
                            </li>
                            <li>
                                <a class="userProp" href="@Url.Action("Delete", "Admin", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-trash"></span> Удалить
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            }


        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".userProp").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}

