@model SJOne.Models.UserRolesViewModel

@{

    ViewBag.Title = Model.UserName;
}

<h3>@Html.DisplayFor(model => model.Data)</h3>



<div id="rolesModal" class="modal fade">
    <div id="rolesList" class="modal-dialog modal-sm"></div>   
</div>

<a id="roles" data-target="#rolesModal" class="btn btn-primary btn-sm" href="@Url.Action("AddRoles", "Admin", new { id = Model.Id })">
    <span class="octicon octicon-pencil"></span> Добавить роли
</a>

<hr />

<div class="row">

    <div class="col-2">

        <table class="table table-borderless table-sm">
            <tbody>

                @foreach (var role in Model.UserRoles)
                {
                    <tr>
                        <td>@role</td>
                        <td>
                            <a style="color:red" href="@Url.Action("DeleteRole", "Admin", new { id = Model.Id, role = role })">
                                <span class="octicon octicon-trashcan"></span>
                            </a>
                        </td>
                    </tr>
                }

               

            </tbody>
        </table>

    </div>

    <div class="col"></div>

</div>

<p>
    @Html.ActionLink("Назад", "UserList", "Admin") к списку пользователей
</p>


@section scripts
{
    <script>

        $(function () {
            $.ajaxSetup({ cache: false });
            $("#roles").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#rolesList').html(data);
                    $('#rolesModal').modal('show');
                });
            });
        })
    </script>
}

