@using SJOne.Extensions
@using SJOne.Models.Filters
@model SJOne.Models.AdminViewModels.UserListViewModel


@{
    ViewBag.Title = "Администрирование";
}

<div class="modal fade" id="statusModal">
    <div id="statusList" class="modal-dialog modal-sm">
    </div>
</div>

<div class="jumbotron bg-info">
    <h1>Список пользователей</h1>
</div>

@Html.Partial("_SearchUser", new UserFilter())

<div class="table-responsive-md">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.SortLink("Логин", "UserName", "UserList", "Admin", null)
                </th>
                <th>
                    @Html.SortLink("Имя", "Name", "UserList", "Admin", null)
                </th>
                <th>
                    @Html.SortLink("Email", "Email", "UserList", "Admin", null)
                </th>
                <th>
                    @Html.SortLink("Дата регистрации", "RegistrationDate", "UserList", "Admin", null)
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Роли
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>

                    <td>
                        @Html.ActionLink(item.Status.ToString(), "Status", "Admin", new { id = item.Id }, new { @class = "status", @data_target = "#statusModal" })
                    </td>
                    <td>

                        @foreach (var role in item.Roles)
                        {
                            <div>@Html.DisplayFor(r => role.Name)</div>
                        }

                    </td>
                    <td>
                        <div class="dropdown dropleft">
                            <button type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown">
                                <span class="octicon octicon-gear"></span>
                            </button>
                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="@Url.Action("UserRoles", "Admin", new { id = item.Id })">
                                    <span class="octicon octicon-key"></span> Менеджер ролей
                                </a>


                                <a class="dropdown-item" href="@Url.Action("Edit", "Admin", new { id = item.Id })">
                                    <span class="octicon octicon-pencil"></span> Изменить данные
                                </a>


                                <a class="dropdown-item" href="@Url.Action("DeleteUser", "Account", new { id = item.Id })">
                                    <span class="octicon octicon-trashcan"></span> Удалить
                                </a>

                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $('.status').click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#statusList').html(data);
                    $('#statusModal').modal('show');
                });
            });
        })

    </script>
}

