@using SJOne.Models.Filters
@model SJOne.Models.JudgeViewModels.FindAthleteViewModel

@{
    ViewBag.Title = "Поиск";
}

<div class="jumbotron bg-info text-white">
    <h2>Поиск атлета</h2>
</div>

<h4>@Model.Message</h4>
<hr />

@Html.Partial("_ExtendedSearchUser", new UserFilter())


@if (Model.Athletes != null)
{
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Дата рождения
                    </th>
                    <th>
                        Населенный пункт
                    </th>
                    <th>
                        Опции
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model.Athletes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Locality.Name)
                    </td>
                    <td>
                        <a class="btn-sm btn-outline-success" href="@Url.Action("Register", "Judge",
                                       new { id = Model.Id, athleteId = item.Id })">
                            <span class="octicon octicon-check"></span>
                        </a>
                    </td>
                </tr>
            }

        </table>

    </div>

    <p>Если спортсмен не найден, проверьте данные и повторите запрос, либо зарегистрируйте нового участника.</p>

    <div>
        <a class="btn btn-outline-dark" href="@Url.Action("AddNewAthlete", "Judge",
                                       new { id = Model.Id})">
            Новый участник <span class="octicon octicon-plus"></span>
        </a>
    </div>

}
@if (Model.Button == true)
{
    <br />
    <p>Если спортсмен не найден, проверьте данные и повторите запрос, либо зарегистрируйте нового участника.</p>
    <div>
        <a class="btn btn-success" href="@Url.Action("AddNewAthlete", "Judge",
                                       new { id = Model.Id })">
            Новый участник <span class="octicon octicon-plus"></span>
        </a>
    </div>
}


