@model SJOne.Models.HandTimingViewModel


@{
    ViewBag.Title = "HandTiming";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="d-flex justify-content-end">
    <button type="button" class="btn-sm btn-danger offset-md-10" data-toggle="modal" data-target="#stopTiming">
        <span class="octicon octicon-stop"></span>
    </button>
</div>


<h2 class="text-center" id="time"></h2>

<div id="extTiming" class="d-flex justify-content-center"><button type="button" class="btn-lg btn-warning  col-md-4">Добавить метку</button></div>

<hr />

<p class="text-center text-danger" id="error"></p>

<div id="buttonList">
    @Html.Action("HT_ButtonList", new { id = Model.Id, judgeId = Model.JudgeId })
</div>



<div class="modal fade" id="stopTiming">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Остановить судейство</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <a href="@Url.Action("StopRace")" class="btn btn-danger col mr-1" role="button">Остановить</a>
                    <button type="button" class="btn btn-success col ml-1" data-dismiss="modal">Отмена </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script>

        var form = $('#AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var startTime = new Date(@Model.StartTime);
        var countdownTime = @Model.CountdownTime;
        var totalTime = startTime.setMinutes(startTime.getMinutes() + countdownTime);

        function leadZero(num) {
            var i = "" + num;
            if (i.length < 2) {
                i = "0" + i;
            }
            return i;
        }

        function viewTime(time) {

            var hours = leadZero(Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
            var minutes = leadZero(Math.floor((time % (1000 * 60 * 60)) / (1000 * 60)));
            var seconds = leadZero(Math.floor((time % (1000 * 60)) / 1000));

            $('#time').text(hours + " : " + minutes + " : " + seconds);
        }

        if (countdownTime > 0) {
            var timer = setInterval(function () {

                var now = new Date().getTime();
                var difference = totalTime - now;

                viewTime(difference);

                if (difference < 0) {
                clearInterval(timer);
                var url = "@Url.Action("Contact", "Home")";
                         window.location.href = url;
                }
            }, 1000);
        }
        else {
            var stopwatch = setInterval(function () {

                var now = new Date().getTime();
                var difference = now - startTime;

                viewTime(difference);

            },1000)
        }

        $(document).on('click', '.btn-lg', function () {
            var buttonId = this.id;
            var judgeId = @Model.JudgeId;
            var raceId = @Model.Id;           

            if (buttonId !== "") {

                if (buttonId === "extTiming") {
                    alert(buttonId);
                }


                 $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: { __RequestVerificationToken: token, raceId: raceId, judgeId: judgeId, number: buttonId},
                    url: '@Url.Action("AddHandTiming", "Judge")',
                     success: function (response) {

                         if (response.success) {
                             $.ajax({
                            async: true,
                            type: 'GET',
                            url: '@Url.Action("HT_ButtonList")/' + raceId + '?judgeId=' + judgeId,
                                 success: function (data) {

                                     $('#buttonList').html(data);                                     
                                     $('#error').text("");
                                     $('#' + startNumber).prop("disabled", true).removeClass('btn-primary').addClass('btn-danger');

                                 }
                            });
                         }

                         else
                         {
                             $('#error').text(response.responseText);
                         }
                     }                     
                });
            }

        });
    </script>
}








