@model SJOne.Models.JudgeViewModels.JudgeAssistantStartListViewModel

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Edit", "Admin")">
                <span class="octicon octicon-triangle-left"></span>
            </a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Edit", "Admin")">
                <span class="octicon octicon-triangle-right"></span>
            </a>
        </li>

    </ul>

    <table class="table table-hover table-sm">       
        <tbody>
            @foreach (var item in Model.AssistantStartList)
            {
                <tr>
                    <td>
                        <a class="btn-sm btn-secondary" href="@Url.Action("Edit", "Admin", new { id = item.Id })">
                            <span class="octicon octicon-arrow-left"></span>
                        </a>
                    </td>
                    <td>
                        <span class="badge badge-info">
                            @item.Number
                        </span>
                    </td>
                    <td>
                        @item.User.Surname @item.User.Name
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.User.DOB)
                    </td>
                </tr>
            }
        </tbody>
    </table>
