@model SJOne.Models.JudgeViewModels.JudgeAssistantStartListViewModel

<div class="row">
        <div class="ml-auto mr-3">
            <div class="btn-group">
                <button type="button" class="btn btn-link" disabled><span class="octicon octicon-triangle-left"></span></button>
                <button type="button" class="btn btn-link" disabled>@Html.DisplayFor(model => model.AthletesCount)</button>
                <button type="button" class="btn btn-link" disabled><span class="octicon octicon-triangle-right"></span></button>
            </div>
        </div>
    </div>

<br />

<table class="table table-hover table-sm">
    <tbody>
        @foreach (var item in Model.AssistantStartList)
        {           
            <tr>
                <td>
                    <button id="@item.Id" type="button" class="btn-sm btn-dark addToMain"><span class="octicon octicon-arrow-left"></span></button>
                </td>
                <td>
                    <span class="badge badge-info">
                        @item.Number
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(i => item.User.Surname) @Html.DisplayFor(i => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(i => item.User.DOB)
                </td>
            </tr>
        }
    </tbody>
</table>
