@using SJOne.Extensions
@using SJOne.Models.Filters
@model SJOne.Models.JudgeViewModels.JudgeListViewModel

@{
    ViewBag.Title = "Список Судей";
}

<h2>Список судей</h2>

@Html.Partial("_SearchJudge", new JudgeFilter())

<table class="table">
    <tr>
        <th>
            @Html.SortLink("Имя", "Name", "JudgeList", "Judge", null)
        </th>
        <th>
            @Html.SortLink("Фамилия", "Surname", "JudgeList", "Judge", null)
        </th>
        <th>
            @Html.SortLink("Город", "City", "JudgeList", "Judge", null)
        </th>
        <th>
            @Html.SortLink("Дата рождения", "DOB", "JudgeList", "Judge", null)
        </th>       
        
        <th></th>
    </tr>

    @foreach (var item in Model.Judges)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOB)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
    }

</table>
