@model SJOne.Models.JudgeViewModels.StartListViewModel

@{
    Layout = null;
}

@{ 
    var preItem = Model.SetFirst - Model.SetMax - 1;
    var setFirst = Model.SetFirst;
    var items = Model.Items;
}

<div class="row">
    <div class="ml-auto mr-3">
        <div class="btn-group">
            @if (setFirst <= 1)
            {
                <button id="pPage" value="@preItem" type="button" class="btn btn-link" disabled><span class="octicon octicon-triangle-left"></span></button>
            }
            else
            {
                <button id="pPage" value="@preItem" type="button" class="btn btn-link"><span class="octicon octicon-triangle-left"></span></button>
            }
            <button id="nowPage" value="@setFirst" type="button" class="btn btn-link" disabled>@setFirst - @items</button>
            @if (items == @Model.MainJudgeAthletesCount)
            {
                <button id="nPage" value="@items" type="button" class="btn btn-link" disabled><span class="octicon octicon-triangle-right"></span></button>
            }
            else
            {
                <button id="nPage" value="@items" type="button" class="btn btn-link"><span class="octicon octicon-triangle-right"></span></button>
            }

        </div>
    </div>
</div>

<br />

@Model.Message

<table class="table table-hover table-sm">
    <tbody>
        @foreach (var item in Model.Athletes)
        {
            var startNumber = item.StartNumbersUser.FirstOrDefault();

            <tr>
                <td>
                    <span class="badge badge-info">
                        @startNumber.Number
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(i => item.Surname) @Html.DisplayFor(i => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(i => item.DOB)
                </td>
                <td>
                    <button id="@startNumber.Id" type="button" class="btn-sm btn-primary addToAssist"><span class="octicon octicon-arrow-right"></span></button>
                </td>
            </tr>

        }
    </tbody>
</table>



