@model SJOne.Models.JudgeViewModels.StartListViewModel



<div class="row">
    <div class="ml-auto mr-3">
        <div class="btn-group">
            <button id="pPage" type="button" class="btn btn-link"><span class="octicon octicon-triangle-left"></span></button>
            <button type="button" class="btn btn-link" disabled>@Model.SetFirst - @Model.Items</button>
            <button id="nPage" type="button" class="btn btn-link"><span class="octicon octicon-triangle-right"></span></button>
        </div>
    </div>
</div>

<br />


<table class="table table-hover table-sm">
    <tbody>
        @foreach (var item in Model.Athletes)
        {
            <tr>
                <td>
                    <span class="badge badge-info">
                        @foreach (var n in item.StartNumbersUser)
                        {
                            @n.Number
                        }
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(i => item.Surname) @Html.DisplayFor(i => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(i => item.DOB)
                </td>
                <td>
                    <a class="btn-sm btn-primary" href="@Url.Action("Edit", "Admin", new { id = item.Id })">
                        <span class="octicon octicon-arrow-right"></span>
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>



<script type="text/javascript">

    $(document).ready(function () {

        $('#nPage').click(function () {
            $.ajax({
                async: true,
                type: 'GET',
                url: '@Url.Action("StartList")/' + '?setFirst=@Model.Items' + '&' + 'page=Next',
                success: function (data) {
                    $('#mainList').html(data);
                }
            });
        });

        $('#pPage').click(function () {
            var preItem = @Model.SetFirst-@Model.SetMax-1
            $.ajax({
                async: true,
                type: 'GET',
                url: '@Url.Action("StartList")/' + '?setFirst=' + preItem + '&' + 'page=Previous',
                success: function (data) {
                    $('#mainList').html(data);
                }
            });
        });
    });
</script>




