@using SJOne.Models.JudgeViewModels
@using SJOne.Models.Filters
@model SJOne.Models.JudgeViewModels.StartListSettingsViewModel

@{
    ViewBag.Title = "Список участников - распределение";
}

@Scripts.Render("~/bundles/jquery")

<div class="jumbotron">
    <h2>Распределение стартового списка</h2>
</div>

<div class="col">
    @Html.Partial("_SearchUser", new UserFilter())
</div>
<br />
<div class="row">
    <div class="col-md-6">

        <form class="form-inline">
            <div class="col">
                @Html.DropDownListFor(model => model.AgeGroupId, Model.AgeGroups, "-Возрастная группа-", new { @class = "form-control" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.Gender, new SelectList(new string[] { "Мужской", "Женский" }), "-Пол-", new { @id = "gender", @class = "form-control" })
            </div>
        </form>
        <br />
        <div id="mainList">
            @Html.Action("StartList", new { id = Model.Id })
        </div>
    </div>

    <div class="col-md-6">
        <div>
            @Html.DropDownListFor(model => model.JudgeId, Model.Judges, new { @class = "form-control" })
        </div>
        <br />
        <div id="assistantList">
            @Html.Action("JudgeAssistantStartList", new { id = Model.Id, judgeId = Model.JudgeId })
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {

            $('#gender').change(function () {
                var gender = $(this).val();
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '@Url.Action("StartList")/' + @Model.Id + '?gender=' + gender,
                    success: function (data) {
                        $('#mainList').html(data);
                    }
                });
            });
        });
    </script>
}











