@using Microsoft.AspNet.Identity

@{var userName = User.Identity.GetUserName(); }

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="navbar-nav ml-auto">
        @if (User.IsInRole("$Admin"))
        {            
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("UserList", "Admin")">Администрирование</a>
            </li>           
        }
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Info", "User", new { id = User.Identity.GetUserId() })">
                <span class="octicon octicon-person-follow"></span>@userName.Substring(0, 1).ToUpper()@(userName.Length > 1 ? userName.Substring(1) : "")
            </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register", "Account", new { id = "registerLink" })">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login", "Account", new { id = "loginLink" })">Войти</a>
    </li>    
</ul>
}
