@using SJOne.Extensions
@using SJOne.Models.Filters
@model SJOne.Models.RaceAthleteListViewModel




<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            Стартовый №
        </th>
        <th>
            @Html.SortLink("Имя", "UserName", "StartList", "Race", null)
        </th>
        <th>
            @Html.SortLink("Фамилия", "Surname", "StartList", "Race", null)
        </th>
        <th>
            @Html.SortLink("Дата рождения", "DOB", "StartList", "Race", null)
        </th>
        <th>
            Город
        </th>
        <th>
            Клуб
        </th>

    </tr>

    @foreach (var item in Model.Athletes)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club)
        </td>

    </tr>
    }

</table>




<div>
    <h4>RaceAthleteListViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AthleteCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleteCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JudgeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JudgeCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
