@using SJOne.Extensions
@using SJOne.Models.Filters
@model SJOne.Models.RaceAthletesListViewModel

@{
    ViewBag.Title = "Стартовый список";
}

<h2>Стартовый список</h2>
<hr />

<div class="row">
    <ul class="list-group col-md-4">
        <li class="list-group-item">@Html.DisplayNameFor(model => model.AthleteCount) <span class="badge">@Html.DisplayFor(model => model.AthleteCount)</span></li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.Distance) <span class="badge">@Html.DisplayFor(model => model.Distance)</span></li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.LapCount) <span class="badge">@Html.DisplayFor(model => model.LapCount)</span></li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.JudgeCount) <span class="badge">@Html.DisplayFor(model => model.JudgeCount)</span></li>
    </ul>

    <div class="col-md-offset-6">
        <p>Поиск по имени и фамилии</p>
        @Html.Partial("SearchFilter", new UserFilter())
    </div>
</div>


<table class="table">
    <tr>
        <th>
            Стартовый №
        </th>
        <th>
            @Html.SortLink("Имя", "UserName", "StartList", "Race", null)
        </th>
        <th>
            @Html.SortLink("Фамилия", "Surname", "StartList", "Race", null)
        </th>
        <th>
            @Html.SortLink("Дата рождения", "DOB", "StartList", "Race", null)
        </th>
        <th>
            Город
        </th>
        <th>
            Клуб
        </th>

    </tr>

    @foreach (var item in Model.Athletes)
    {
        <tr>
            <td>
                @foreach (var i in item.StartNumbersUser)
                {
                    @i.Number
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportClub)
            </td>

        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
